<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/d.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/e.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/f.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
     <img src="{% static 'Aletry//img/t.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/m.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/y.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/j.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/o.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/p.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/g.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/r.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/s.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/q.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

     <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/w.png' %}" alt="Fjords" style="width:100%" >
          <div class="caption">
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          <img src="{% static 'Aletry//img/z.png' %}" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
</center>
</body>
</html>
{% endblock %}