
{% extends 'main.html' %}

{% load static %}
{% block content %}

<html>
<style>
   h3  {
       padding: 0 3em 0.1em 3em;
       font-family: "Sakkal Majalla";
       font-size: 40px ; color: #000000;
       background-color: #fffdfd ;
   }
</style>
<body>
<div>
    <br>
<h3> Our goal :
    </br>
    Passionately produce world class standard bakery and Confectionery products with creativity,
     high quality ingredients and To always deliver ideal, fresh, innovative, balanced, safe and 
     healthy products for all our clients and associates partners. </h3>
</div>
<br><br><br><br><br><br><br><br><br><br>
</body>
</html>
{% endblock %}
